@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Car Planner</h1>
    <div>
        <img src="images/porche.png" alt="OurCar Planner" />
    </div>
</div>

